body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto Light", "Segoe UI Web Light", "Segoe UI Light", "Segoe UI Web Regular", "Segoe UI", Helvetica, Arial, sans-serif; 
  margin: 1em;
  background: "white";
  color: "gray";
}
section {
  margin: 0 auto;
}
h1 {
  font-weight: normal;
  font-size: 2.4em;
}
a {
  color: "blue";
}




